<h1 class="text-uppercase text-center">Jose Daniel Lopez</h1>
<p>Bienvenido, registrate</p>


<div class="row">
	<div class="col-xs-6 col-xs-offset-3">
		<form>
		  <div class="form-group">
		    <label for="nombre_completo">Introduzca su numbre:</label>
		    <input type="text" class="form-control" id="nombre_completo" placeholder="Nombre">
		  </div>
		  <div class="form-group">
		    <label for="correo_electronico">Email:</label>
		    <input type="email" class="form-control" id="correo_electronico" placeholder="example@correo.com">
		  </div>
		  <div class="form-group">
		    <label for="edad_usuario">Introduzca la edad:</label>
		    <input type="number" value="18" id="edad_usuario" min="10" max="70" >
		  </div>
		  <button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
</div>

